.titleDescDiv {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 4vw;
  margin-bottom: 50px;
}

.actions {
  display: flex;
  gap: 8px;
}
