<form class="form" novalidate (submit)="createNovel($event)">
  <label for="title">Title</label>
  <input id="title" [formField]="form.title" />
  @if (wasFormSubmitted() && form.title().invalid()) {
    @for (error of form.title().errors(); track error) {
      <p class="errorMessage">{{ error.message }}</p>
    }
  }
  <label for="description">Description</label>
  <input
    class="descInputField"
    id="description"
    [formField]="form.description"
  />
  @if (wasFormSubmitted() && form.description().invalid()) {
    @for (error of form.description().errors(); track error) {
      <p class="errorMessage">{{ error.message }}</p>
    }
  }
  <button type="submit" class="button">create novel</button>
</form>
